<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>MealVite</title>
    @System.Web.Optimization.Styles.Render("~/Content/bootstrap")
    @System.Web.Optimization.Styles.Render("~/Content/fontawesome")
    @System.Web.Optimization.Styles.Render("~/Content/loadingbar")
    @System.Web.Optimization.Styles.Render("~/Content/adminlte")
</head>
<body class="skin-yellow-light">
    <div ng-include src="'app/components/header/header.html'" ng-if="location.path() !== '/accounts/login'"></div>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
    @System.Web.Optimization.Scripts.Render("~/bundles/angularjs")
    @System.Web.Optimization.Scripts.Render("~/bundles/uiRouter")
    @System.Web.Optimization.Scripts.Render("~/bundles/moment")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/uibootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/angularStorage")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootbox")    
    @System.Web.Optimization.Scripts.Render("~/bundles/loadingbar")
    @System.Web.Optimization.Scripts.Render("~/bundles/adminlte")
    @System.Web.Optimization.Scripts.Render("~/bundles/app")
</body>
</html>
